.label {
  font-size: 1.2rem;
}
.task {
  display: flex;
  align-items: flex-start;
  width: 95%;

  &:nth-child(1) {
    margin-top: 0.5rem;
  }
}

.list {
  height: 60vh;
  overflow-y: scroll;
  margin-top: 2rem;
  width: 100%;
}

.date {
  margin-top: 0.5rem;
  color: var(--green);
}

.taskContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}