.wrapper {
  position: relative;
  min-height: 100vh;
  background-color: var(--light-green);
  padding: 2rem 1rem calc(80px + 3rem) 1rem;
}

.logo {
  margin: 0 auto;
}

.heading {
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--green);
}