.nav {
  position: fixed;
  z-index: 2;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 1rem;
  box-shadow: var(--chakra-shadows-md);
  border-radius: var(--out-radius);
}

.list {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}